# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
.idea/
out/
*.iml
*.iws
*.ipr

# gradle
run/
.gradle/
build/
gradle-app.setting

# other
eclipse/

# Files from Forge MDK
forge*changelog.txt
